---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>I am currently teaching GEOGM0068: Geographic Information Retrieval and Interation at the University of Bristol. For more information, please refer to the class' website below. I have also taughht other courses at both graduate and undergraudate levels at the University of California, Santa Barbara. They will be posted here as well soon. </p>
<ul>
<li>Autumn 2022, <a href="https://zhurui0509.github.io/GEOGM0068-git/intro.html"> Geographic Information Retrieval and Integration</a></li>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->