---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>I am teaching GEOGM0068: Geographic Information Retrieval and Interation at the University of Bristol. For more information, please refer to the class' website below. I also co-teach GEOGM0073: Research Design, Digital Methods and Data Skills at Bristol.   I have also taught multiple other courses at both graduate and undergraudate levels at the University of California, Santa Barbara. </p>
<ul>
<li> <a href="https://zhurui0509.github.io/GEOGM0068-git/intro.html">GEOGM0068: Geographic Information Retrieval and Integration</a></li>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->